<div class ="container-fluid"> 
<div class ="container">
<h2><span>"Eat da Burgers!</span></h2>
<div class="image">
  <img src="assets/img/burger_sandwich_PNG4132.png" alt="burger">
</div>
</div>



 
</form>
<form class="create-form">
  <div class="form-row">
    <div class="col-5">
        <h3 class="title">Burgers to eat!</h3>
    <ul>
        <div class ="list">
        {{#each burgers}}
        {{#unless devoured}}
        {{id}}. {{burger_name}}       <button class ="btn" class = "change-devour" data-id="{{id}}" data-newDevour="{{devour}}">Devour</button><br>
        {{/unless}}
        {{/each}}
        </div>
    </ul>
    </div>
<div class="col-1"></div>

 <div class="col-5">
     <h3 class="title">They Be Gone!</h3>
    <ul style ="list-style-type:none">
        <div>
        {{#each burgers}}
        {{#if devoured}}
        {{id}}. {{burger_name}}<br>
        {{/if}}
        {{/each}}
        </div>
    </ul>
</div>
<div class = "container">
<div class="form-group">
    <input class = "inputBox" type="text" id="ca" name="burger_name" size = "50" placeholder = "Yummy Burger">
    <br>
    <button class = "btn" type="submit">Add Burger</button>
<br>
<label for="ca">Add the burger you want and press "add burger"</label>
</form>
</div>
</div>